body {
    background-color: rgb(235, 239, 237);
}

canvas {
    margin: auto;
    border: 10px solid rgb(200, 0, 0);
    padding: 0px;
}

.interface {
    display: flex;
    gap: 0px;
    padding: 5px;
}

.switch {
    height: 525px;
    width: 200px;
    justify-content: center;
    min-height: 55vh;
    margin: auto;
    padding: 10px;
    background-color: rgb(200, 0, 0); /* Green */
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.reserve {
    height: 200px;
    width: 545px;
    justify-content: center;
    min-width: 60vw;
    max-height: 17vh;
    margin: auto;
    padding: 10px;
    background-color: rgb(200, 0, 0); /* Green */
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.reserve2 {
    height: 200px;
    width: 545px;
    justify-content: center;
    min-width: 28vw;
    max-height: 17vh;
    margin: auto;
    padding: 10px;
    background-color: rgb(200, 0, 0); /* Green */
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}


.date-bar {
    width: 96vw;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.date-input {
    font-size: 1.3rem;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
