body {
    background: rgb(190,190,190);
    font: 'verdana' sans-serif;
    height: 200vh;
}

#increase {
    height: 10vh;
    width: 10vh;
    background: rgb(190,190,190);
    color: black;
    border: 1px solid rgb(190,190,190);
    border-radius: 6px;

    margin: 0vh 2vh;
    font-size: 50px;
    cursor: pointer;
}

#decrease {
    height: 10vh;
    width: 10vh;
    background: rgb(190,190,190);
    color: black;
    border: 1px solid rgb(190,190,190);
    border-radius: 6px;

    margin: 0vh 2vh;
    font-size: 50px;
    cursor: pointer;
}

#deerCaught {
    height: 10vh;
    width: 10vh;
    background: rgb(190,190,190);
    color: black;
    border: 1px solid rgb(190,190,190);
    border-radius: 6px;

    margin: 0vh 2vh;
    font-size: 50px;
    cursor: pointer;
}

#deerTitle {
   height: 10vh;
    width: 10vh;
    background: rgb(190,190,190);
    color: black;
    border: 1px solid rgb(190,190,190);
    border-radius: 6px;

    margin: 0vh 2vh;
    font-size: 20px;
    cursor: pointer; 
}
